body{
  background-color: #131214;
  color: #aaa;
}

.displayWeather{
  background-color: #1D1C1F;
  padding: 25px 30px 100px;
  border-radius: 10px;
  margin-top: 50px;
}
.card{
  transition: all 0.6s;

}
.card:hover{
  transform: scale(1.1);
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
}


.tableData:nth-child(odd){
  background-color: #666 !important;
}

.tableData:nth-child(even){
  background-color: #999 !important;
}



.container{
  padding-top: 30px;
  border-radius: 10px;
}

.nav{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 55px;
  justify-content: space-between;
  padding:0 100px;
  background-color: #1D1C1F;
  position: fixed;
  z-index: 999999;
}

@media (max-width:750px){
  .nav{
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding:0 5px;
  background-color: #1D1C1F;
}

#nav-logo{
  display: none;
}

}


